# # Two services: backend API on 5000, frontend (nginx) on 80
# services:
#   backend:
#     build: ./server
#     container_name: backend
#     restart: always
#     env_file:
#       - ./server/.env        
#     ports:
#       - "5000:5000"

#   frontend:
#     build:
#       context: ./client
#       args:
#         VITE_API_URL: http://3.26.242.54:5000/api
#     container_name: frontend
#     restart: always
#     ports:
#       - "5173:5173"
#     depends_on:
#       - backend


version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://localhost:5000/api
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
